:root{
  --primary-text-color: #121417;
  --secondary-text-color: rgba(18, 20, 23, 0.50);
  --tertiary-text-color: #3470FF;
  --bg-color: #FFFFFF;
  --secondary-bg-color: #F7F7FB;
  --primary-color-btn: #3470FF;
  --secondary-color-btn: #0B44CD;
}


*{
  /* outline: 1px solid teal; */
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: rgb(87, 87, 87);
}

code {
  font-family: "Manrope", sans-serif;
}
